@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar {
  @apply flex justify-center items-center md:space-x-16 font-normal text-xl;
}

.active {
  @apply text-secondary;
}

.auth-bg {
  background-image: url("./assets//ebus.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 100px;
  position: relative;
  color: white;
  font-size: 20px;
  z-index: 20;
}

.auth-bg::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(17, 24, 39, 0.91);
}

.profile_navbar {
  @apply hidden md:block bg-white shadow drop-shadow absolute top-0 left-0 bottom-0 z-10 h-screen py-10 px-10 w-full md:w-96;
}
@media (max-width: 769px) {
  .navbar {
    position: absolute;
    top: 0;
    right: 100%;
    bottom: 0;
    background-color: #fff;
    padding: 10px 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
    width: 100%;
    height: 100vh;
  }

  .navbar li {
    margin: 20px 0;
  }

  .navbar.open {
    transition: all linear cubic-bezier(0.075, 0.82, 0.165, 1);
    right: 0;
    z-index: 30;
  }

  .profile_navbar.open {
    @apply block w-full;
  }
}
